<app-nav></app-nav>

<div class="relative">
  <img src="../../../assets/Mask group.png" />
  <div class="w-fit h-fit absolute top-10 left-4">
    <p class="text-2xl font-light text-slate-700">Latest trending</p>
    <p class="text-2xl font-normal text-stone-800">Electronic items</p>
    <button
      class="w-28 bg-white p-2 rounded-xl whitespace-nowrap text-primary mt-2"
    >
      Learn more
    </button>
  </div>
</div>

<div class="w-full h-fit px-4 py-6 flex">
  <div class="w-fit h-fit leading-3">
    <p class="text-2xl font-normal text-stone-800">Deals and offers</p>
    <p class="font-light text-slate-700">Electronic equipments</p>
  </div>
  <span class="flex-1"></span>
  <div class="flex gap-2 leading-4">
    <button class="w-12 h-12 bg-blue-50 rounded-sm" *ngFor="let item of date">
      <p class="font-thin">{{ item.date }}</p>
      <p class="font-thin">{{ item.hour }}</p>
    </button>
  </div>
</div>

<div class="w-screen flex overflow-x-auto border-collapse gap-2">
  <div
    class="min-w-[220px] h-80 flex flex-col items-center whitespace-nowrap border border-slate-200 justify-center"
    *ngFor="let item of items"
  >
    <img [src]="item.images[0]" class="w-fit" />
    <div class="flex flex-col items-center gap-1 py-3">
      <p class="text-xl text-stone-600">{{ item.title }}</p>
      <button
        class="w-fit h-fit bg-red-100 px-5 py-1 rounded-full text-red-600"
      >
        {{ item.discountPercentage }} %
      </button>
    </div>
  </div>
</div>

<p class="text-2xl font-normal text-stone-800 px-4 py-3">Home and outdoors</p>

<div class="w-screen flex overflow-x-auto border-collapse gap-2">
  <div
    class="min-w-[220px] h-80 flex flex-col items-center whitespace-nowrap border border-slate-200 justify-center"
    *ngFor="let item1 of items"
  >
    <img [src]="item1.images[2]" class="w-fit" />
    <div class="flex flex-col items-center gap-1 py-3">
      <p class="text-xl text-stone-600">{{ item1.brand }}</p>
      <button
        class="w-fit h-fit bg-red-100 px-5 py-1 rounded-full text-red-600"
      >
        {{ item1.discountPercentage }} %
      </button>
    </div>
  </div>
</div>

<p class="text-2xl font-normal text-stone-800 px-4 py-2">
  Consumer electronics
</p>

<div class="w-screen flex overflow-x-auto border-collapse gap-2">
  <div
    class="min-w-[220px] h-80 flex flex-col items-center whitespace-nowrap border border-slate-200 justify-center"
    *ngFor="let item1 of items"
  >
    <img [src]="item1.images[0]" class="w-fit" />
    <div class="flex flex-col items-center gap-1 py-3">
      <p class="text-xl text-stone-600">{{ item1.brand }}</p>
      <button
        class="w-fit h-fit bg-red-100 px-5 py-1 rounded-full text-red-600"
      >
        {{ item1.discountPercentage }} %
      </button>
    </div>
  </div>
</div>

 <div class="w-full relative -m-0">
   <img src="../../../assets/image 102.png" class="absolute w-full">
   <img src="../../../assets/Rectangle 299.png" class="relative w-full">
   <div class="text-2xl leading-7 text-slate-50 absolute top-10 left-8">
   <p>An easy Way to send</p>
   <p>requist to all suppliers</p>
  </div>
 </div>

 <p class="text-2xl font-normal text-stone-800 px-4 py-2">
Suppliers by region
</p>

<div class="px-4 mt-2">
<div class="w-full flex flex-wrap gap-2 bg-slate-100">
  <div class="w-44 h-fit flex gap-2 items-center rounded-lg bg-slate-100 px-4 py-2">
    <img src="../../../assets/arb.png" class="w-12">
    <div class="leading-3">
   <p class="text-2xl">Arab</p>
   <p class="font-thin text-grey-">Shope.ai</p>
  </div>
  </div>

  <div class="w-42 h-fit flex gap-2 items-center rounded-lg  bg-slate-100 px-4 py-2">
    <img src="../../../assets/france.png" class="w-12">
    <div class="leading-3">
   <p class="text-2xl">France</p>
   <p class="font-thin text-grey-">France.ai</p>
  </div>
  </div>

  <div class="w-44 h-fit flex gap-2 items-center rounded-lg bg-slate-100 px-4 py-2">
    <img src="../../../assets/AU@2x.png" class="w-12">
    <div class="leading-3">
   <p class="text-xl">Australia</p>
   <p class="font-thin text-grey-">Aust.io</p>
  </div>
  </div>

  <div class="w-42 h-fit flex gap-2 items-center rounded-lg  bg-slate-100 px-4 py-2">
    <img src="../../../assets/australia.png" class="w-12">
    <div class="leading-3">
   <p class="text-2xl">USA</p>
   <p class="font-thin text-grey-">Usa.ai</p>
  </div>
  </div>
</div>
</div>

