<div class="main-navbar w-screen h-fit flex flex-col gap-2 px-4">
  <div class="navbar w-full h-16 flex">
    <div class="menu w-fit h-full flex items-center gap-2">
      <span
        class="material-symbols-outlined w-10 h-10 bg-slate-50 text-3xl flex justify-center items-center rounded-lg"
      >
        menu
      </span>
      <div class="brand w-fit h-fit flex justify-center items-center gap-1">
        <img src="../../../assets/Brand/logo-symbol.png" />
        <p class="text-3xl text-primary font-black">Brand</p>
      </div>
    </div>

    <span class="flex-1"></span>

    <div class="cart flex items-center gap-2">
      <span
        class="material-symbols-outlined w-10 h-10 bg-slate-50 text-3xl flex justify-center items-center rounded-lg"
      >
        shopping_cart
      </span>

      <span
        class="material-symbols-outlined w-10 h-10 bg-slate-50 text-3xl flex justify-center items-center rounded-lg"
      >
        person
      </span>
    </div>
  </div>
  <div class="w-full relative">
    <input type="text" class="w-full h-12 rounded-lg px-24 border border-primary" />
    <div class="w-fit h-12 flex items-center absolute top-0">
    <span class="material-symbols-outlined text-3xl rounded-full justify-center items-center text-primary">
      search
      </span>
      <p class="font-thin text-xl text-primary">Search</p>
    </div>
  </div>
<app-category class="h-12 flex gap-2 overflow-auto items-center"></app-category>
</div>
