
<span class="material-symbols-outlined w-10 h-10 bg-slate-50 text-3xl flex justify-center items-center rounded-lg max-md:hidden">
        menu
      </span>
<div class="w-fit h-10 px-3 flex justify-center items-center rounded-lg bg-slate-100 text-primary whitespace-nowrap md:text-black" *ngFor="let item of product">
 <p>{{item.name}}</p>
</div>

<span class="md:flex-1"></span>

<div class="md:flex md:gap-2 md:px-4 max-md:hidden">
  <select class="md:w-36 md:border-none md:h-10 bg-slate-100 md:px-3 md:rounded-lg">
    <option value="English">English,USD</option>
    <option value="English">French</option>
    <option value="English">German</option>
    <option value="English">Spanish</option>
    <option value="English">HIndi</option>
  </select>

  <select class="md:w-28 md:border-none md:h-10 bg-slate-100 md:px-3 md:rounded-lg">
    <option value="English">Ship to</option>
    <option value="English">Frence</option>
    <option value="English">Germany</option>
    <option value="English">Spain</option>
    <option value="English">India</option>
  </select>
</div>
